## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Moerai,PF,79.99,clear sky,-22.43,-151.33,NaN
1,2,Georgetown,MY,78.80,moderate rain,5.41,100.34,NaN
2,9,Hilo,US,77.00,light rain,19.73,-155.09,NaN
3,16,Kahului,US,82.40,scattered clouds,20.89,-156.47,NaN
4,24,Hithadhoo,MV,81.84,moderate rain,-0.60,73.08,NaN

In [3]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Get the data from each row and add it to the formatting template and store the data in a list.
vacation_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]

In [4]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=vacation_info)
# Display the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [5]:
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 

vacation_start = vacation_df.loc[vacation_df['City'] == 'Moerai']
vacation_end = vacation_df.loc[vacation_df['City'] == 'Moerai']
vacation_stop1 = vacation_df.loc[vacation_df['City'] == 'Georgetown']
vacation_stop2 = vacation_df.loc[vacation_df['City'] == 'Hilo'] 
vacation_stop3 = vacation_df.loc[vacation_df['City'] == 'Kahului']

In [7]:
# Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.iloc[0,5:7].to_numpy()
end = vacation_end.iloc[0,5:7].to_numpy()
stop1 = vacation_stop1.iloc[0,5:7].to_numpy()
stop2 = vacation_stop2.iloc[0,5:7].to_numpy()
stop3 = vacation_stop3.iloc[0,5:7].to_numpy()

start

array([-22.43, -151.33], dtype=object)

In [8]:
# Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure(center=(38, -122), zoom_level = 7)
Moerai = start
Georgetown = stop1
Hilo = stop2
Kahului = stop3 
roadtrip = gmaps.directions_layer(Moerai, Moerai, 
                                  waypoints=[Georgetown, Hilo, Kahului],
                                  travel_mode="DRIVING")

In [9]:
# To create a marker layer map between the four cities.
# Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, 
                          vacation_stop2, vacation_stop3]
                         ,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Moerai,PF,79.99,clear sky,-22.43,-151.33,NaN
1,2,Georgetown,MY,78.80,moderate rain,5.41,100.34,NaN
2,9,Hilo,US,77.00,light rain,19.73,-155.09,NaN
3,16,Kahului,US,82.40,scattered clouds,20.89,-156.47,NaN

In [10]:
# Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Get the data from each row and add it to the formatting template and store the data in a list.
itinerary_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]

In [11]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=itinerary_info)
# Display the figure
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

In [12]:
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))